.container {
    position: relative;
    width: 100%; /* ширина блока-контейнера */
    max-width: 960px; /* максимальная ширина контейнера */
    margin: 0 auto; /* этот стиль центрирует контейнер */
}

.photo {
    float: left; /* говорим элементам выстраиваться один за другим */
    width: 33.333333%; /* устанавливаем ширину элемента */
    padding: 10px; /* добавляем отступы с каждой стороны */
    box-sizing: border-box; /* меняем способ вычисления ширины */
}

.photo img {
    border-radius: 5px; /* Радиус скругления */
    display: block;
    max-width: 100%;
    height: auto;
    padding: 10px;
    background-color: #eee;
    box-sizing: border-box;
}

.photo a:hover {
    opacity: 0.5;
}

.photo a {
    display: block;
    position: relative;
}

.photo a:after {
    content: '';
    background: transparent url(../img/icons/eye-icon.png) no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.photo:hover > a:after{
    visibility: visible;
}

.photo figcaption {
    color: #999999;
    text-align: center;
    margin-bottom: 5px;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #cccccc;
    text-align: center;
    margin: 30px 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#gallery {
    margin-bottom: 50px;
}

#gallery:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.photo label {
    font-size: 10px;
    visibility: visible;
}

.btn {
    font-weight: 700;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    margin-bottom: 20px;
}
.btn:hover { background: rgb(53, 167, 110); }
.btn:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.btn2 {
    font-weight: 700;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(218, 21, 21);
    box-shadow: 0 -3px rgb(178, 24, 24) inset;
    transition: 0.2s;
    margin-bottom: 20px;
}
.btn2:hover { background: rgb(164, 20, 20); }
.btn2:active {
    background: rgb(162, 28, 28);
    box-shadow: 0 3px rgb(168, 13, 13) inset;
}