.message-form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.message-form__select,
.message-form__textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.message-form__submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message-form__submit:hover {
    background-color: #45a049;
}