.sidebar {
    position: absolute;
    width: auto;
    height: auto;
    background-color: #f1f1f1;
    top: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
}

.sidebar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
}

.sidebar nav ul li a:hover {
    background-color: #ccc;
}